{% load staticfiles %}
<!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top" style="border:none; font-family: Roboto, Helvetica, Roboto, sans-serif; background:transparent;">
      <div class="container" style="width:100%; background:transparent; padding:10px;">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">-</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <a href="/"><img src="{% static 'img/LOGOfdxswiss.png' %}" height="80px" style="float:left;"/></a><br>
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'kontakt' %}">Kontakt</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">mehr.. <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'aboutUs' %}">Über uns</a></li>
                <li><a href="{% url 'impressum' %}">Impressum</a></li>
                <li><a href="{% url 'agb' %}">AGB</a></li>

                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Mitglied werden:</li>
                <li><a href="{% url 'firmaForm' %}">Firma eintragen</a></li>
              </ul>
            </li>
          </ul>
          <a href="{% url 'firmaForm' %}">
            <button type="button" class="btn btn-outline-primary" style="background-color:transparent; float:right; margin-top:5px; border:none;"><strong>Firma eintragen</strong></button>
          </a>
        </div>
      </div>
    </nav>
