{% load staticfiles %}
<div id="aform" style="width:100%; margin-top:-50px;">
    <form method="POST"  action="{% url 'formcheck' %}" id="msform">{% csrf_token %}
      <input type="hidden" name="title" value="{{ title }}">

          <ul id="progressbar">
            <li class="active"></li>
            <li></li>
            <li></li>
          </ul>

          <!-- fieldsets -->
          <fieldset id="site_1">

            <h2 class="fs-title">Unternehmen hinzufügen</h2>
            {{ form.firm_name }}
            {{ form.mailList }}

            <h6>Wunschdatum für Ihren Auftrag</h6>
            {{ form.datum }}

            <h2 class="fs-title">{{ title }} - Anfrage starten!</h2>
            <input type="button" id="step_1_okButton" name="next" class="next action-button" value="weiter" style="width:55%;"/>

          </fieldset>

          <fieldset id="site_2">
            <h2 class="fs-title">Angaben zu Ihrem Auftrag</h2>
            <hr>
            {{ form.groesse }}

            <div class="thumbnail" style="width:45%; float:left;">
              <input type="checkbox" name="parkett" class="custom-control-input" value="Parkett" id="customCheck1" style="float:left; width:10%;"/>
              <label class="custom-control-label" for="customCheck1" style="font-size:10px;">Parkett</label>
            </div>
            <div class="thumbnail" style="width:45%; float:left;">
              <input type="checkbox" name="laminat" value="Laminat" id="customCheck2" style="float:left; width:10%;"/>
              <label for="customCheck2" style="font-size:10px;">Laminat</label>
            </div>
            <div class="thumbnail" style="width:45%; float:left;">
             <input type="checkbox" name="teppich" value="Teppich" id="customCheck3" style="float:left; width:10%;"/>
             <label for="customCheck3" style="font-size:10px;">Teppich</label>
           </div>
           <div class="thumbnail" style="width:45%; float:left;">
            <input type="checkbox" name="vinyl" value="Vinyl" id="c" style="float:left; width:10%;"/>
            <label for="c" style="font-size:10px;">Vinyl</label>
          </div>
          <div class="thumbnail" style="width:45%; float:left;">
            <input type="checkbox" name="weitere" value="Weitere" id="e" style="float:left; width:10%;"/>
            <label for="e" style="font-size:10px;">Weitere</label>
          </div>
          {{ form.auftragsbeschreibung }}

            <input type="button" name="previous" class="previous action-button" value="zurück" />
            <input type="button" id="step_2_okButton" name="next" class="next action-button" value="weiter" />

          </fieldset>

          <fieldset id="site_3">
            <h3 class="fs-title">Persönliche Angaben</h3>
            {{ form.fname }}
            {{ form.lname }}
            {{ form.tel }}
            {{ form.email }}

            <h3 class="fs-title">Zusätzliche Informationen</h3>
            {{ form.beschreibung }}
            <input type="button" name="previous" class="previous action-button" value="zurück" />
            <input type="submit" id="submit" name="submit" class="submit action-button" value="weiter" />

          </fieldset>
    </form>
</div>
