{% load staticfiles %}
<div id="aform" style="width:100%; margin-top:-50px;">
    <form method="POST"  action="{% url 'formcheck' %}" id="msform">{% csrf_token %}
      <input type="hidden" name="title" value="{{ title }}">

      <!-- <div class="thumbnail" style="border:none; text-align:center;">
        <label style="font-size:22px; font-family:Arial; color:#287acc;">Anfrageformular {{ title }}</label>
      </div>
        <hr>
        {{ form }}
        <textarea type="text" id="mailList" name="mailList" style="display:none;"></textarea> -->

        <!-- multistep form -->
          <!-- progressbar -->
          <ul id="progressbar">
            <li class="active"></li>
            <li></li>
            <li></li>
          </ul>
          <!-- fieldsets -->
          <fieldset id="site_1">

            <h2 class="fs-title">Unternehmen hinzufügen</h2>
            {{ form.firm_name }}
            {{ form.mailList }}

            <!-- <textarea id="id_send" name="firma_name" placeholder="Unternehmen in der Liste erhalten Ihre Anfrage" name="textfield" readonly style="max-width:100%; max-height:150px; min-height:140px; height:120px;"></textarea> -->
            <!-- <textarea type="text" id="mailList" name="mailList" style="display:none;"></textarea> -->

            <h6>Wunschdatum für Ihren Auftrag</h6>
            <!-- <input type="date" name="Datum"/> -->
            {{ form.datum }}

            <h2 class="fs-title">{{ title }} - Anfrage starten!</h2>
            <input type="button" id="step_1_okButton" name="next" class="next action-button" value="weiter" style="width:55%;"/>

          </fieldset>
          <fieldset id="site_2">
            <h2 class="fs-title">Angaben zu Ihrem Auftrag</h2>

            <hr>

            <div class="thumbnail" style="width:45%; float:left;">
              <input type="checkbox" name="neubauprojekt" class="custom-control-input" value="Neubauprojekt" id="customCheck1" style="float:left; width:10%;"/>
              <label class="custom-control-label" for="customCheck1" style="font-size:10px;">Neubauprojekt</label>
            </div>
            <div class="thumbnail" style="width:45%; float:left;">
              <input type="checkbox" name="aufstockung" value="Aufstockung" id="customCheck2" style="float:left; width:10%;"/>
              <label for="customCheck2" style="font-size:10px;">Aufstockung</label>
            </div>
            <div class="thumbnail" style="width:45%; float:left;">
             <input type="checkbox" name="innenumbau" value="Innenumbau" id="customCheck3" style="float:left; width:10%;"/>
             <label for="customCheck3" style="font-size:10px;">Innenumbau</label>
           </div>
           <div class="thumbnail" style="width:45%; float:left;">
            <input type="checkbox" name="sanierung" value="Sanierung" id="c" style="float:left; width:10%;"/>
            <label for="c" style="font-size:10px;">Sanierung</label>
          </div>
          <div class="thumbnail" style="width:45%; float:left;">
            <input type="checkbox" name="weitere" value="Weitere" id="e" style="float:left; width:10%;"/>
            <label for="e" style="font-size:10px;">Weitere</label>
          </div>
          <!-- <textarea name="Auftragsbeschreibung" placeholder="Beschreiben Sie ihren Auftrag" style="max-width:100%; max-height:150px; min-height:150px;"></textarea> -->
          {{ form.auftragsbeschreibung }}
            <input type="button" name="previous" class="previous action-button" value="zurück" />
            <input type="button" id="step_2_okButton" name="next" class="next action-button" value="weiter" />

          </fieldset>

          <fieldset id="site_3">
            <h3 class="fs-title">Persönliche Angaben</h3>
            <!-- <input type="text" name="fname" placeholder="Vorname" /> -->
            <!-- <input type="text" name="lname" placeholder="Nachname" />
            <input type="text" name="tel" placeholder="Telefonnummer" />
            <input type="text" name="email" placeholder="Email" />
            <textarea name="beschreibung" placeholder="" style="max-width:100%; max-height:150px; min-height:150px;"></textarea> -->
            {{ form.fname }}
            {{ form.lname }}
            {{ form.tel }}
            {{ form.email }}
            <h3 class="fs-title">Zusätzliche Informationen</h3>
            {{ form.beschreibung }}
            <input type="button" name="previous" class="previous action-button" value="zurück" />
            <input type="submit" id="submit" name="submit" class="submit action-button" value="weiter" />
          </fieldset>
    </form>
</div>
