{% extends 'home_show.html' %}
{% load staticfiles %}
{% block title %}
    <div class="thumbanil" style="font-family:Aral, sans-serif; margin-bottom:50px; margin-top:50px;">
        <h2>
            Unser Ziel
        </h2>
    </div>
{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Über uns</title>
</head>
<body>
  <div class="container">
    <div class="thumbnail" style="text-align:center; font-family:Arial, sans-serif; font-awesome:;">
      <h3>...für die Kunden</h3>
      <p>Unser Ziel für die Kunden ist es, einen schnellen und einfachen Weg zu ermöglichen, um regionale Unternehmen</p>
      <p>mit wenigen Klicks zu erreichen. Und Gleichzeitig viel Zeit, Geld und Nerven zu sparen. Wir bieten die Möglichkeit </p>
      <p>auf einer übersichtilichen Seite Informationen über Unternehmen zu erhalten und diese direkt anzusprechen.</p>
      <p>Zusätzlich besteht die Möglichkeit mehrere Firmen gleichzeitig anzuschreiben, und dadurch, einfach regionale Preise zu vergleichen.</p>
      <p>Da nicht nur der Preis einer Dienstleistung ausschlaggebend sein sollte, um einen Auftrag zu erteilen,</p>
      <p>werden noch Kundenmeinungen hinzukommen, und unterstützen somit den Entscheid, eine passende Firma zu beauftragen.</p>

    </div>
    <div class="thumbnail" style="text-align:center; font-family:Arial, sans-serif; margin-bottom:50px;">
      <h3>...für die Unternehmer</h3>
      <p>Bieten wir eine preiswerte Alternative um Ihre Firmenpräsenz Regional und National zu steigern.</p>
      <p>Durch die übersichtliche Gestaltung und die Möglichkeit einfach und schnell ihre Firma kennenzulernen, blenden wir</p>
      <p>bewusst alle unnötigen Informationen aus, und konzentiren uns auf eine korrekte Vorstellung Ihrer Firma.</p>
      <p>Wir sind darauf bedacht alle eingetragen Firmen gleichzusetzen, und keine Topplatzierungen zu verkaufen.</p>
      <p>Die Regionalen Anzeigen werden nach Distanzen zu der Eingetragenen Postleitzahl angezeigt. National wird nach Zufallsprinzip</p>
      <p>entschieden, welche Firmen an Toppositionen angeziegt werden.</p>
    </div>
  </div>
</body>
</html>
{% endblock %}
