{% load staticfiles %}

<div class="container-fluid" id="howto_background">
  <div class="container thumbnail" id="howto" style="text-align:center; background-color:transparent; border:none;">
    <label style="font-family:Arial; font-size:32px; text-align:center; margin-top:50px; margin-bottom:50px;">So funktioniert's!</label>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-3 col-sm-4">
        <div class="thumbnail" style="background-color:transparent; border:none;">
            <h4 style="text-align:center; color:#3399ff;"><label style="font-family:Arial;"><img src="{% static "img/number_one.png" %}" width="30px" style="margin-right:10px;"/>Suche starten</label></h4>
            <img src="{% static "img/info_grafik1.png" %}" width="150px" style="margin-top:50px; margin-bottom:50px;"/>
            <div class="thumbnail" style="background-color:transparent; border:none; text-align:center;">

              <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <!-- <img src="{% static 'img/down_arrow.png' %}" width="20px" /> -->mehr
              </button>

              <div class="collapse" id="collapseExample">
                <div class="card card-body" style="margin-top:20px;">
                  <text style="font-size:16px; font-family:Arial;">Wählen Sie eine Branche und tragen Sie Ihre Postleitzahl ein. Vergleichen Sie anschliessend schnell und übersichtlich, Handwerker aus Ihrer Region.</text>
                </div>
              </div>
            </div>
        </div>
      </div>


      <div class="col-xs-12 col-md-3 col-sm-4">
        <div class="thumbnail" style="background-color:transparent; border:none;">
            <h4 style="text-align:center; color:#3399ff;"><label style="font-family:Arial;"><img src="{% static "img/number_two.png" %}" width="30px" style="margin-right:10px;"/>Unternehmen wählen<label></h4>
            <img src="{% static "img/info_grafik2.png" %}" width="150px" style="margin-top:50px; margin-bottom:50px;"/>
            <div class="thumbnail" style="background-color:transparent; border:none; text-align:center;">

              <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                <!-- <img src="{% static 'img/down_arrow.png' %}" width="20px" /> -->mehr
              </button>
              <!-- <div class="thumbnail" style="height:200px; border:none; background-color:transparent;"> -->
                <div class="collapse" id="collapseExample2">
                  <div class="card card-body" style="margin-top:20px;">
                    <text style="font-size:16px; font-family:Arial;">Informieren Sie sich über einzelne Firmen in der Firmenbeschreibung oder besuchen die Homepage. Wenn Sie passende Firmen gefunden haben, auf hinzufügen klicken, und das Unternehmen wird in die Anfragenliste aufgenommen.</text>
                  </div>
                </div>
              <!-- </div> -->
            </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-3 col-sm-4">
        <div class="thumbnail" style="background-color:transparent; border:none;">
            <h4 style="text-align:center; color:#3399ff;"><label style="font-family:Arial;"><img src="{% static "img/number_three.png" %}" width="30px" style="margin-right:10px;"/>Anfrage senden<label></h4>
            <img src="{% static "img/info_grafik3.png" %}" width="150px" style="margin-top:50px; margin-bottom:50px;"/>
            <div class="thumbnail" style="background-color:transparent; border:none; text-align:center;">

              <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                <!-- <img src="{% static 'img/down_arrow.png' %}" width="20px" /> -->mehr
              </button>

              <div class="collapse" id="collapseExample3">
                <div class="card card-body" style="margin-top:20px;">
                  <text style="font-size:16px; font-family:Arial;">Beschreiben Sie Ihren Auftrag und senden es an mehrere Firmen gleichzeitig. Ihre Anfrage wird an alle Firmen in der Anfrageliste übermittelt.</text>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-3 col-sm-4">
        <div class="thumbnail" style="background-color:transparent; border:none;">
            <h4 style="text-align:center; color:#3399ff;"><label style="font-family:Arial;"><img src="{% static "img/number_four.png" %}" width="30px" style="margin-right:10px;"/>Offerten vergleichen<label></h4>
            <img src="{% static "img/info_grafik4.png" %}" width="150px" style="margin-top:50px; margin-bottom:50px;"/>
            <div class="thumbnail" style="background-color:transparent; border:none; text-align:center;">
              <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                <!-- <img src="{% static 'img/down_arrow.png' %}" width="20px" /> -->mehr
              </button>
              <div class="collapse" id="collapseExample4">
                <div class="card card-body" style="margin-top:20px;">
                  <text style="font-size:16px; font-family:Arial;">Vergleichen Sie die Offerten und wählen den passenden Dienstleister.</text>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

  </div>
</div>
