{% load staticfiles %}

<div class="container thumbnail" style="text-align:center; background-color:transparent; border:none;">
  <label style="color:; font-family:Roboto; font-size:32px; text-align:center;">Stats</label>
</div>
<div class="container" style="width:100%;">
    <div class="col-sm-4 col-xs-12 col-md-4 stats">
        <!-- <h3><b>{{ anz_a }}</b></h3> -->
        <h3><b>{{ anz_a }}</b></h3>
        <h4><label style="font-family:Roboto;">vermittelte Anfragen</label></h4>
    </div>

    <div class="col-sm-4 col-xs-12 col-md-4 stats">
        <!-- <h3><b>{{ anz_f }}</b></h3> -->
        <h3><b>{{ anz_f }}</b></h3>
        <h4><label style="font-family:Roboto;">eingetragene Partnerfirmen</label></h4>
    </div>

    <div class="col-sm-4 col-xs-12 col-md-4 stats">
        <h3><b>10</b></h3>
        <h4><label style="font-family:Roboto;">unterstützte Fachgebiete</label></h4>
    </div>
</div>
